<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StreamStats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>

<header>
    <h1>StreamStats</h1>
</header>

    <div class="button-container">
        <a href="{{ url_for('data_page') }}">
            <button>View Top Stats</button>
        </a>
        <a href="{{ url_for('overall_stats_page') }}">
            <button>View Overall Stats</button>
        </a>
    </div>

</body>
</html>
