<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StreamStats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <header>
        <h1>StreamStats</h1>
    </header>

    <main style="text-align: center; margin-top: 2rem;">
        <a href="/data" class="button">View Top 10</a>
    </main>

    <main style="text-align: center; margin-top: 2rem;">
        <a href="/data/artists" class="button">View Top Artists</a>
    </main>

    <main style="text-align: center; margin-top: 2rem;">
        <a href="/data/albums" class="button">View Top Albums</a>
    </main>

    <main style="text-align: center; margin-top: 2rem;">
        <a href="/data/songs" class="button">View Top Songs</a>
    </main>

</body>
</html>